
 .searchInput{
    display: flex;
    justify-content: center;
    .searchBtn{
        padding: 10px;
        margin-left: 25px;
        border: none;
        cursor: pointer;
        background-color: #fff;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
 } 
 
 .chains{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    .chainImage{
        cursor: pointer;
        height: 75px;
        margin: 0 20px;
    }
    .chainImageArb{
    cursor: pointer;
     height: 100px;
    }
 }

