.inputDiv{
    text-align: center;
    width: 40%;
    .baseInput{
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
.baseInput:focus{
    outline: none;
}
   }